.img-fluid {
  max-width: 100%;
  float: right;
  height: 40vh;
  width: 57vh;
}
.image-section {
  border-radius: 40px !important;
}
.vision {
  float: left;
  height: 50vh;
  border-radius: 0 20% 0 20%;
}
.background-image {
     background-color: #055b33;
}
.conatiner-text {
  background-color: wheat;
  padding: 40px;
  border-radius: 30px;
}
.lead {
    font-family: sans-serif !important;
    font-size: 16px;
}
.about-ara{
       font-size: 15px;
    margin-left: 10px;
    font-family: cursive;
}

