
.gallery-img:hover {
  transform: scale(1.05);
}

.gallery-modal button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  opacity: 0.8;
  border: none;
      color: white;
    background-color: black;

}

.gallery-modal .modal-content {
  background: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
}

.gallery-modal img {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    max-height: 95vh;
    max-width: 86vh;
}
.gallery-modal .modal-body {
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 50vh;
}