.gallery-img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
}

.gallery-modal .modal-content {
  background: transparent;
  border: none;
  box-shadow: none;
}

.gallery-modal .btn-light {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  opacity: 0.8;
  border: none;
  background-color: white;
  border-radius: 50%;
}
